<%= form_with(model: job_group, local: true) do |form| %>
  <% if job_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_group.errors.count, "error") %> prohibited this job_group from being saved:</h2>

      <ul>
        <% job_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :wage %>
    <%= form.text_field :wage, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.button :submit, class: "btn btn-primary float-right" %>
  </div>
<% end %>
